@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 7%;
    --foreground: 210 40% 98%;

    --card: 222 14% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 222 14% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 217 91% 60%;
    --primary-foreground: 210 40% 98%;

    --secondary: 222 14% 15%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217 19% 27%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217 91% 60%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 217 91% 60%;

    --radius: 0.75rem;
  }
}
.translate-z-10 {
  transform: translateZ(10px);
}
.translate-z-20 {
  transform: translateZ(20px);
}

@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}